
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  Arial, Helvetica, sans-serif monospace ;
}

/* Body and overall layout */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    min-height: 100vh;
    justify-content: center;
    margin: 0;
}

/* Header Section */
.header {
    text-align: center;
    margin-bottom: 20px;
}

/* Heading style */
h1 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #333;
}

/* Controls section (color picker and clear button) */
.controls {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

label {
    font-size: 16px;
    color: #333;
}

input[type="color"] {
    height: 30px;
    width: 50px;
    border: none;
    cursor: pointer;
    padding: 0;
}

button {
    padding: 10px 20px;
    background-color: #08928d;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 50px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: black;
    color: whitesmoke;
}

/* Canvas Container */
.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* Canvas styling */
canvas {
    border: 2px solid #333;
    background-color: white;
}



